<div class="video-container">
  <video autoplay muted loop class="background-video" preload="auto">
    <source src="https://dl.dropbox.com/scl/fi/nsx1q65a8pscb2wu5tpx2/cart.mp4?rlkey=wlka2s1r3oulvpm5yg9q5un3z&st=6nle2tb7&dl=0" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="video-text">
    <div class="text-2xl sm:text-5xl">Agnibha Chowdhury</div>
    <div class="mt-7 text-lg">I am a <span class="dev">full-stack web developer</span> from <span class="india">India</span></div>
  </div>
</div>