.page-header-flex {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}


.page-header-line {
  position: relative;
  bottom: 50%;
  left: 10px;
  transform: translateY(50%);
  width: 100px;
  height: 2px;
  background-color: var(--site-accent)
}