.section {
  @apply min-h-screen flex items-center sm:p-0;
}


.even {
  @apply bg-gray-100;
}

.odd {
  @apply bg-gray-200;
}

.audio-visualizer {
  pointer-events: none;
  z-index: 100;
  display: block;
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
}
