<div class="experience-header">
  <div class="heading common">Professional Experience</div>
  <app-download-resume [resumeDownloadLink]="resumeDownloadLink"></app-download-resume>
</div>


<div class="resume-summary common">
  <div class="subheading">Agnibha Chowdhury</div>


  @for (experience of experiences; track experience.company; let i = $index; let isLast = $last) {
  <div (click)="toggle(i)" class="accordion-header fade-in" appIntersectionObserver>
    <div>{{ experience.company }}</div>
    <div>{{ experience.duration }} | {{ experience.location }}</div>
  </div>

  <div [@slideToggle]="isOpen(i) || isLast && openIndex === null ? 'open' : 'closed'" class="accordion-body fade-in" appIntersectionObserver>
    <div class="accordion-content">
      <ul>
        @for (responsibility of experience.responsibilities; track $index) {
        <li [innerHTML]="responsibility"></li>
        }
      </ul>
    </div>
  </div>
  }





</div>