<div class="container-template">
  <app-section-title class="fade-in" appIntersectionObserver>Interests</app-section-title>

  <div class="interests-main">
    @for(interest of interests; track interest.name){

    @if(interest.name=="Music"){
    <div 
    class="interest fade-in blink-element" appIntersectionObserver (click)="playSongs(!this.songService.music_status)">
      @if(this.songService.music_status){
      <div class="interest-logo">
        <img class="interst_svg" (click)="playSongs(false); $event.stopPropagation()" src="assets/SVG/svg_interest/pause.svg" />

        <input #songSlider type="range" [value]="songService.volume" class="volume-slider" min="0" max="100"
          (input)="logRangeValue($event)" (click)="stopClickPropagation($event)">
        <img (click)="nextSong()" class="interst_svg" src="assets/SVG/svg_interest/next.svg"
          (click)="stopClickPropagation($event)">
      </div>
      <progress class="music-progress-bar" [value]="songProgress" max="100" (click)="seekToPosition($event)"
        (click)="stopClickPropagation($event)"></progress>
      }
      @else {
      <div class="interest-logo"><img class="interst_svg" (click)="playSongs(true)" [src]="interest.logo"></div>
      <div class="interest-description">{{interest.name}}</div>
      }
    </div>
    }
    @else {
    <div class="interest fade-in" appIntersectionObserver>
      <div class="interest-logo"><img class="interst_svg" [src]="interest.logo"></div>
      <div class="interest-description">{{interest.name}}</div>
    </div>
    }
    }
  </div>
</div>