.skill-template-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.skill-template-info {
  cursor: default;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill-template-progressBar {
  width: 100%;
  height: 10px;
  background-color: rgb(126, 126, 126);
  opacity: .7;
  position: relative;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: var(--site-accent);
  position: absolute;
  top: 0;
  left: 0;
}
