:host{
  display:grid;
  place-items: center;
  padding: 5px 0px 5px 0px;
}

.resume-main{
  display: flex;
}

.resume-right{
  width: 50%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.resume-left{
  /* border:1px solid red; */
  width: 50%;
  margin-left: 10px;
}


@media(max-width:1028px) {
  .resume-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .resume-right{
    width: 100%;
    margin-right: 0px;
  }
  
  .resume-left{
    width: 100%;
    margin-left: 0px;
  }

}