<div class="container-template">
  <app-section-title class="fade-in" appIntersectionObserver>Resume</app-section-title>

  <div class="resume-main">
    <div class="resume-left">
      <app-resume-summary [agnibhaData]="agnibhaData"></app-resume-summary>
      <app-resume-education class="fade-in" appIntersectionObserver></app-resume-education>
    </div>
    <div class="resume-right">
      <app-resume-pro-experience class="fade-in" appIntersectionObserver [experiences]="experience" [resumeDownloadLink]="resumeDownloadLink"></app-resume-pro-experience>
    </div>
  </div>
</div>