<div class="heading common">Education</div>
<div class="resume-summary common">
  <div class="subheading">High School Education</div>
  <div class="year-duration">2013-2015</div>
  <p>Calcutta Airport English High School, Kolkata, West Bengal</p>
  <p style="font-style: unset;">
    Completed higher secondary education under West Bengal Council of Higher Secondary Education
    from C.A.E.H.S.
  </p>
</div>


<div class="resume-summary common">
  <div class="subheading">B.TECH in C.S.E</div>
  <div class="year-duration">2015-2019</div>
  <p>Techno India Banipur, Kolkata, West Bengal</p>
  <p style="font-style: unset;">
    Completed B.Tech under Maulana Abul Kalam Azad University of Technology from
    Techno India Banipur with a final year project on Electric
    Bill Payment System using HTML, CSS, JS, and PHP.
  </p>
</div>