/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&family=Oswald:wght@600&family=Poppins:wght@500&family=Quicksand:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
}

.sectionOutline {
  @apply w-full max-w-[83.333333%] mx-auto p-4 sm:p-0 min-w-0 sm:min-w-[1000px];
}

body { margin: 0; font-family: "Poppins",sans-serif; }


:root{
  --site-accent: #22C55E;
}

/* For Scroll Animation */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}


body::-webkit-scrollbar {
  width: .5vw;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, 0.333);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #161212;
}

body::-webkit-scrollbar-track {
  background-color: #5555;
}

body::-webkit-scrollbar-track:hover {
  background-color: #d3d3d3;
}




/* Each Section Container */
.container-template {
  width: 75%;
  box-sizing: border-box;
  z-index: 0;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 1622px) {
  .container-template {
    width: 79%;
    padding: 15px;
  }
}

@media (max-width: 1522px) {
  .container-template {
    width: 84%;
    padding: 15px;
  }
}

@media (max-width: 1422px) {
  .container-template {
    width: 89%;
    padding: 15px;
  }
}

@media (max-width: 1322px) {
  .container-template {
    width: 93%;
    padding: 15px;
  }
}


@media (max-width: 1222px) {
  .container-template {
    width: 95%;
    padding: 15px;
  }
}

@media (max-width: 1103px) {
  .container-template {
    width: 100%;
    padding: 15px;
  }
}