<p class="text-lg text-right pr-4">
  Created by
  <span class="font-bold text-blue-400 hover:text-pink-500 cursor-pointer">
    <span class="inline-block transition-transform duration-300 hover:-translate-y-1 mr-1">A</span>
    <span class="inline-block transition-transform duration-300 hover:-translate-y-1 delay-75 mr-1">g</span>
    <span class="inline-block transition-transform duration-300 hover:-translate-y-1 delay-75 mr-1">n</span>
    <span class="inline-block transition-transform duration-300 hover:-translate-y-1 delay-75 mr-1">i</span>
    <span class="inline-block transition-transform duration-300 hover:-translate-y-1 ddelay-75 mr-1">b</span>
    <span class="inline-block transition-transform duration-300 hover:-translate-y-1 delay-75 mr-1">h</span>
    <span class="inline-block transition-transform duration-300 hover:-translate-y-1 delay-75">a</span>
  </span>
</p>
